<?xml version="1.0" encoding="UTF-8" ?>
<Configuration>
  <Appenders>
    <Console name="STDOUT" target="SYSTEM_OUT">
      <PatternLayout pattern="%d %-5p [%t] %C{2} (%F:%L) - %m%n"/>
    </Console>
  </Appenders>
  <Loggers>
    <Logger name="org.mgnl.nicki.core.config.Config" level="info"/>
    <Logger name="org.mgnl.nicki.ldap" level="info"/>
    <Logger name="org.mgnl.nicki.core.auth" level="info"/>
    <Logger name="org.mgnl.nicki.spnego" level="info"/>
    <Logger name="org.mgnl.nicki.vaadin.base.application" level="info"/>
    <Root level="info">
      <AppenderRef ref="STDOUT"/>
    </Root>
  </Loggers>
</Configuration>