<?xml version="1.0" encoding="UTF-8"?>
<Context>
	<!-- Resource name="JCR"
          auth="Container"
          type="javax.jcr.Repository"
          factory="org.apache.jackrabbit.core.jndi.BindableRepositoryFactory"
          configFilePath="D:/repositories/repository.xml"
          repHomeDir="D:/repositories/repository.nicki"/ -->
	<!-- Resource name="jcr/repository"
          auth="Container"
          type="javax.jcr.Repository"
          factory="org.apache.jackrabbit.core.jndi.BindableRepositoryFactory"
          configFilePath="/WEB-INF/conf/nicki/repository.xml"
          repHomeDir="D:/repositories/repository.nicki"/ -->
          
          <!-- ResourceLink name="jcr"
                            global="jcr"
                            type="javax.jcr.Repository"/ -->
</Context>